@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.all-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  /* max-width: 1200px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-family: 'Times New Roman', Times, serif;
}

.body .title-part {
  display: flex;
  align-items: baseline;
}

.body .title-part p {
  font-size: 30px;
  color: rgb(33, 59, 99);
  margin-right: 20px;
}

.body .title-part i {
  font-size: 27px;
  color: rgb(57, 130, 255);
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}

.body .title-part #left {
  margin-right: 15px;
  color: rgb(128, 174, 255);
}

.body .slider {
  display: flex;
  font-size: 0px;
  overflow: hidden;
  /* white-space: nowrap; */
  /* scroll-behavior: smooth; */
  /* gap: 25px; */
}

/* .body .slider.dragging {
  scroll-behavior: auto;
  cursor: grab;
} */

.body .slider .item-box {
  transition: all 0.4s;
}

.body .slider .item {
  width: 100%;
  height: max-content;
  cursor: pointer;
}


.body .slider .item .image-part {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.body .slider .item .image-part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body .slider .item .text-part {
  width: 99%;
  height: 20%;
}

.body .slider .item .text-part p {
  margin: 0;
  font-size: 20.5px;
  margin-top: 20px;
  color: rgb(59, 110, 144);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.body .slider .item .text-part .date {
  font-size: 16px;
  margin-top: 10px;
}